{% extends 'base.html.twig' %}

{% block body %}
    <header class="container">
        <div class="row">
            {% include('logo.html.twig') %}
            {% include('top_navigation.html.twig') %}
        </div>

    </header>

    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1>Welcome to my blog</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


